:root {
  --colorA: #9ca3af;
  --Titulo: #34d399;
  --TituloPrincipal: #10b981;
  --HeaderBackground: #33415537;
  --BorderBottom: rgba(169, 234, 169, 0.2);
  --DarkText: white;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  z-index: 111111;
}
.logo {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}
.header h2 {
  color: var(--TituloPrincipal);
  font-weight: 800;
  font-size: 35px;
}
.logo ul {
  width: auto;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  padding: 20px;
}
 
.logo ul li a {
  transition: all 0.3s ease;
  position: relative;
  font-size: 17px;
  text-decoration: none;
  color: var(--colorA);
  font-weight: 550;
}
 .Onmove .logo ul li a{
 color: white;
 }
.logo ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--Titulo);
  transition: width 0.5s ease;
}
.logo ul li a:hover {
  color: var(--Titulo);
}
.logo ul li a:hover::after {
  width: 100%;
  color: var(--Titulo);
}
.DivButtons_Headers {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 30px;
   padding:0px 30px 0px 0px;
 }
.DivButtons_Headers button {
  width: auto;
  height: auto;
  font-size: 18px;
  background: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
[data-theme="dark"] .DivButtons_Headers button {
  color: var(--DarkText);
}
.Onmove {
  position: sticky;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  top: 0;
  z-index: 111111;
  background-color: var(--HeaderBackground);
  border-bottom: 1px solid var(--BorderBottom);
}
 
.Onmove h2 {
  color: var(--TituloPrincipal);
  font-weight: 800;
  font-size: 25px;
}

.Mobile_header {
  display: none;
}

.OnmoveMobile {
  display: none;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .header {
    display: none;
    list-style: none;
  }

  .Onmove {
    display: none;
    list-style: none;
  }

  .Mobile_header {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    z-index: 11111;
  }

  .Mobile_header ul {
    list-style: none;
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--HeaderBackground);
  }

  .Mobile_logo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .Mobile_logo h2 {
    color: var(--TituloPrincipal);
    font-weight: 800;
    font-size: 23px;
  }

  .Mobile_logo .Container_Info {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Mobile_logo div button {
    width: 50px;
    height: auto;
    font-size: 20px;
    background: none;
    border: none;

    cursor: pointer;
  }
  .Mobile_logo div button i {
    color: rgba(245, 242, 242, 0.88);
  }
  .OnmoveMobile {
    position: sticky;
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
       z-index: 11111;
    background-color: var(--HeaderBackground);
    border-bottom: 1px solid var(--BorderBottom);
  }

  .OnmoveMobile h2 {
    color: var(--TituloPrincipal);
    font-weight: 800;
    font-size: 20px;
  }

  .OnmoveMobile ul {
    width: auto;
    height: 150px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .OnmoveMobile ul li a {
    padding: 20px;
    font-size: 15px;

    text-decoration: none;
  }

  [data-theme="dark"] .OnmoveMobile ul li a:hover {
    color: var(--DarkText);
  }

  [data-theme="dark"] .Mobile_header ul li a:hover {
    color: var(--DarkText);
  }

  [data-theme="dark"] .Container_Info button {
    color: white;
  }

  [data-theme="dark"] .OnmoveMobile ul li a {
    color: white;
  }

  [data-theme="dark"] .Mobile_header ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
  }
}
