* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
   font-family: "Space Grotesk", sans-serif;
  
}
body {
  width: 100%;
  height: 100%;
 
 
}
html, body, #root {
  height: 100%;
  margin: 0;
 
  
}

 [data-theme="dark"] body {
  background: #111827;
}
 [data-theme="light"] body {
  background: white;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.MainPage_Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
  animation: fadeInUp 1s ease-out forwards;
}

.Sub_Commponents_Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    width: 100%;
    height: 100%;
    background: #334155;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .MainPage_Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    animation: fadeInUp 1s ease-out forwards;
  }

  .Sub_Commponents_Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
}
